.wrapper-class{
    display:inline-flex;
    flex-direction: column;
    top:auto;
    bottom: 10px;
}

.editor-class { 
    order:inherit;  
    top:auto;
    bottom: 10px;
}

.toolbar-class { 
position:absolute;
bottom: 0;
}